<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Girl Guide Event Booking Tracking</display-name>

  <listener>
    <listener-class>net.guides.view.web.listener.GuideStartupListener</listener-class>
  </listener>

  <!-- All servlets before all servlet mappings -->
  <!--
  <servlet>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>net.guides.view.web.client.ClientServlet</servlet-class>
  </servlet>
  -->

  <servlet>
    <servlet-name>list_clients</servlet-name>
    <jsp-file>/jsp/list_clients.jsp</jsp-file>
  </servlet>
  <!--
  <servlet>
    <servlet-name>clients</servlet-name>
    <jsp-file>/jsp/clients.jsp</jsp-file>
  </servlet>
  -->

  <!-- All servlet mappings after all servlets-->

  <servlet-mapping>
    <servlet-name>list_clients</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

</web-app>
